In [108]:
import pandas as pd
import numpy as np
import pickle
import os
import joblib

from keras.models import Sequential
from tensorflow.keras.regularizers import L1, L2
from keras.layers import Dropout
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from Funciones_tablas_validacion import *


from sklearn.model_selection import GridSearchCV

#Funciones que me paso Emmanuel

from sklearn.feature_selection import SelectFpr, SelectKBest, f_classif, chi2 
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

import warnings
warnings.filterwarnings("ignore")

#### Aplicar features selection a la base, smothe y partición de entrenamiento y Test

In [109]:
#   SUBIMOS LA BASE CON WOE PARA APLICAR UN FEATURE SELECTION Y UN SMOTE
df_woe = pd.read_csv("C:/Users/RobertoRosasGuerrero/Analítica Luisito Valdez/LM (pastilla azul)/Primer Modelo LM/BASE_CN_WOE_S1.csv")
#df_woe.rename(columns={'BGI.1.':'BGI'}, inplace = True)
df_woe.drop(df_woe.filter(regex='^Unnamed:',axis=1),1,inplace=True)
df_woe.head()

,idconsulta,vOpenned,iCredId,vAfiliado,vBanco,BGI,nombreOtorgante_1_AYC_001_Sum_woe,nombreOtorgante_13_AYC_001_Sum_woe,nombreOtorgante_1_AYC_002_Sum_woe,nombreOtorgante_13_AYC_002_Sum_woe,...,tipoContrato_1_INT_128_MOR_Max_woe,tipoContrato_1_INT_129_MOR_Max_woe,tipoContrato_1_INT_130_MOR_Max_woe,tipoContrato_1_INT_131_MOR_Max_woe,tipoContrato_1_INT_132_MOR_Max_woe,tipoContrato_5_INT_136_MOR_Max_woe,tipoContrato_5_INT_137_MOR_Max_woe,tipoContrato_5_INT_138_MOR_Max_woe,tipoContrato_4_INT_145_MOR_Max_woe,tipoContrato_1_INT_148_MOR_Max_woe
0,275935,2018-10-19,305285,IMSS ACTIVOS,BBVA BANCOMER,0,0.226191,-0.236115,0.229986,-0.182163,...,-0.309806,-0.299088,-0.357068,-0.293695,-0.247523,-0.245581,-0.292936,-0.282447,-0.077246,0.064184
1,279475,2018-10-03,300961,IMSS ACTIVOS,BANORTE,0,0.061693,0.271877,0.059065,0.246356,...,0.077319,0.090264,0.121628,0.120579,0.123151,0.099231,0.112603,0.105197,-0.077246,0.064184
2,282291,2018-08-01,278891,IMSS ACTIVOS,SANTANDER,1,-0.440688,-0.238906,-0.440688,-0.238906,...,0.077319,0.090264,0.121628,-0.293695,-0.247523,0.099231,0.112603,0.105197,-0.077246,0.064184
3,282458,2018-08-02,279628,IMSS ACTIVOS,BBVA BANCOMER,0,0.061693,-0.236115,0.059065,-0.182163,...,-0.309806,-0.299088,-0.357068,-0.293695,-0.247523,0.099231,0.112603,0.105197,-0.199715,0.064184
4,282494,2018-09-24,296047,IMSS ACTIVOS,HSBC,0,0.226191,-0.238906,0.229986,-0.238906,...,0.077319,0.090264,0.121628,0.120579,0.123151,0.099231,0.112603,0.105197,0.248620,0.064184

In [110]:
df_woe.shape

(968, 1257)

In [111]:
df_woe.groupby("BGI")["BGI"].count()

BGI
0    739
1    229
Name: BGI, dtype: int64

In [113]:
p_train = 0.60 # Porcentaje de train.

df_woe['is_train'] = np.random.uniform(0, 1, len(df_woe)) <= p_train
#train, train = df_woe[df_woe['is_train']==True], df_woe[df_woe['is_train']==False]
#df_woe = df_woe.drop('is_train', 1)

In [114]:
X_woe = df_woe.iloc[:,6:]
y_woe = df_woe['BGI']

# define the selector to obtain the best 35 features
selector = SelectKBest(f_classif, k=35)
selector.fit(X_woe,y_woe)
new_features = selector.get_feature_names_out()

In [115]:
#CHECAR SI YA GENERAMOS LA DATA O SI ES LA PRIMERA VEZ QUE LA VAMOS A GENERAR
#df_1 = df_woe[['idconsulta','id.credit','RFC.10' ,'fecha_consulta','vOpenned'  ,"BGI","is_train"]+ list(new_features)]
df_1 = df_woe[["idconsulta","vOpenned","iCredId","vAfiliado","vBanco","BGI","is_train"]+ list(new_features)]

#df_1 = pd.read_csv("C:/Users/RobertoRosasGuerrero/Analítica Luisito Valdez/IBILLETE/Primer Modelo Ibillete 14-06-2022/ROBERTO/ROBERTO_BASE_MODELAR_S2.csv")

In [116]:
df_1.head(1)

,idconsulta,vOpenned,iCredId,vAfiliado,vBanco,BGI,is_train,END_002_Sum_woe,END_002_Max_woe,nombreOtorgante_1_END_001_Sum_woe,...,nombreOtorgante_1_INT_082_MOR_Sum_woe,nombreOtorgante_1_INT_083_MOR_Sum_woe,nombreOtorgante_1_INT_084_MOR_Sum_woe,nombreOtorgante_1_INT_087_MOR_Sum_woe,nombreOtorgante_1_INT_089_MOR_Sum_woe,nombreOtorgante_1_INT_090_MOR_Sum_woe,nombreOtorgante_1_INT_137_MOR_Sum_woe,nombreOtorgante_1_INT_145_MOR_Sum_woe,nombreOtorgante_12_INT_060_MOR_Max_woe,tipoCuenta_3_INT_051_MOR_Sum_woe
0,275935,2018-10-19,305285,IMSS ACTIVOS,BBVA BANCOMER,0,True,0.100402,0.096935,0.077859,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,-0.008425,0.479826

In [117]:
# # define the new features
# X_new = df_woe[new_features]
# y_new = y_woe

# #apply SMOTE algoritm
# X_res, y_res = SMOTE(random_state=42).fit_resample(X_new, y_new)


# define the new features
X_new = df_woe[['idconsulta','iCredId' ,"is_train"]+ list(new_features)]
y_new = y_woe

#apply SMOTE algoritm
X_res, y_res = SMOTE(random_state=42).fit_resample(X_new, y_new)

In [118]:
# print(df_woe.groupby("BGI")["BGI"].count())
# print(y_woe.sum())
# print(y_woe.count())
# print(y_res.sum())
# print(y_res.count())
print(X_new.shape)
print(X_res.shape)
print(y_res.shape)

(968, 38)
(1478, 38)
(1478,)

In [ ]:
#df_1 = df_woe[['idconsulta', 'id.credit',"BGI"] + list(new_features)] #take only selected features and target

In [119]:
#print(df_1["BGI"].sum())
#print(df_1["BGI"].count())
print(y_res.sum())
print(y_res.count())

739
1478

In [ ]:
## BASE CON SMOTE
# df = pd.read_csv("BASE_MODELAR_S2_S.csv",encoding ='latin-1')
# df.rename(columns={'BGI.1.':'BGI'}, inplace = True)
# df.head()

In [120]:
df = pd.concat([X_res,y_res],axis=1)
#df= pd.read_csv("C:/Users/RobertoRosasGuerrero/Analítica Luisito Valdez/IBILLETE/Primer Modelo Ibillete 14-06-2022/ROBERTO/ROBERTO_BASE_MODELAR_S2_S.csv")

In [121]:
df.shape

(1478, 39)

In [122]:
df.head(2)

,idconsulta,iCredId,is_train,END_002_Sum_woe,END_002_Max_woe,nombreOtorgante_1_END_001_Sum_woe,nombreOtorgante_1_END_002_Sum_woe,nombreOtorgante_1_END_002_Min_woe,nombreOtorgante_1_NUM_016_BUR_Mean_woe,SDO_002_BUR_Sum_woe,...,nombreOtorgante_1_INT_083_MOR_Sum_woe,nombreOtorgante_1_INT_084_MOR_Sum_woe,nombreOtorgante_1_INT_087_MOR_Sum_woe,nombreOtorgante_1_INT_089_MOR_Sum_woe,nombreOtorgante_1_INT_090_MOR_Sum_woe,nombreOtorgante_1_INT_137_MOR_Sum_woe,nombreOtorgante_1_INT_145_MOR_Sum_woe,nombreOtorgante_12_INT_060_MOR_Max_woe,tipoCuenta_3_INT_051_MOR_Sum_woe,BGI
0,275935,305285,True,0.100402,0.096935,0.077859,0.125213,0.071286,-0.264855,0.025372,...,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,-0.008425,0.479826,0
1,279475,300961,False,0.100402,0.096935,-0.159171,0.125213,0.071286,0.182337,0.597404,...,0.600765,0.700226,0.700226,0.620184,0.635221,0.713402,0.564392,-0.008425,-0.583789,0

In [123]:
#df_1.to_csv("C:/Users/RobertoRosasGuerrero/Analítica Luisito Valdez/LM (pastilla azul)/Primer Modelo LM/BASE_MODELAR_S1.csv")
#df.to_csv("C:/Users/RobertoRosasGuerrero/Analítica Luisito Valdez/LM (pastilla azul)/Primer Modelo LM/BASE_MODELAR_S1_S.csv")

### Hasta aquí el proceso de features selection, Smote, segmentación de entrenamiento y test

#### Si ya estaban las bases solo las cargamos

In [ ]:
## BASE CON PARTICION
df_1 = pd.read_csv("BASE_MODELAR_S1.csv",encoding = 'latin-1')
df_1.rename(columns={'BGI.1.':'BGI'}, inplace = True)
#df_1.head()
df_1.groupby("BGI")["BGI"].count()

In [ ]:
## BASE CON SMOTE
df = pd.read_csv("BASE_MODELAR_S1_S.csv",encoding = 'latin-1')
df.rename(columns={'BGI.1.':'BGI'}, inplace = True)
df.head()

In [124]:
### TRAIN Y TEST GENERADOS CON BASE SMOTE
df_train = df['is_train'] == True
df_train = df[df_train]

#df_train = df['Partición'] == "1_Entrenamiento"
#df_train = df[df_train]

In [127]:
df_train.head(2)

,idconsulta,iCredId,is_train,END_002_Sum_woe,END_002_Max_woe,nombreOtorgante_1_END_001_Sum_woe,nombreOtorgante_1_END_002_Sum_woe,nombreOtorgante_1_END_002_Min_woe,nombreOtorgante_1_NUM_016_BUR_Mean_woe,SDO_002_BUR_Sum_woe,...,nombreOtorgante_1_INT_083_MOR_Sum_woe,nombreOtorgante_1_INT_084_MOR_Sum_woe,nombreOtorgante_1_INT_087_MOR_Sum_woe,nombreOtorgante_1_INT_089_MOR_Sum_woe,nombreOtorgante_1_INT_090_MOR_Sum_woe,nombreOtorgante_1_INT_137_MOR_Sum_woe,nombreOtorgante_1_INT_145_MOR_Sum_woe,nombreOtorgante_12_INT_060_MOR_Max_woe,tipoCuenta_3_INT_051_MOR_Sum_woe,BGI
0,275935,305285,True,0.100402,0.096935,0.077859,0.125213,0.071286,-0.264855,0.025372,...,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,-0.008425,0.479826,0
2,282291,278891,True,0.100402,0.096935,-0.159171,-0.121311,0.071286,0.182337,-0.441091,...,0.600765,0.700226,0.700226,0.620184,0.635221,0.713402,0.564392,0.299712,0.064296,1

In [126]:
df_train.iloc[:,3:-1]

,END_002_Sum_woe,END_002_Max_woe,nombreOtorgante_1_END_001_Sum_woe,nombreOtorgante_1_END_002_Sum_woe,nombreOtorgante_1_END_002_Min_woe,nombreOtorgante_1_NUM_016_BUR_Mean_woe,SDO_002_BUR_Sum_woe,SDO_002_BUR_Max_woe,nombreOtorgante_1_SDO_002_BUR_Sum_woe,nombreOtorgante_1_SDO_004_BUR_Sum_woe,...,nombreOtorgante_1_INT_082_MOR_Sum_woe,nombreOtorgante_1_INT_083_MOR_Sum_woe,nombreOtorgante_1_INT_084_MOR_Sum_woe,nombreOtorgante_1_INT_087_MOR_Sum_woe,nombreOtorgante_1_INT_089_MOR_Sum_woe,nombreOtorgante_1_INT_090_MOR_Sum_woe,nombreOtorgante_1_INT_137_MOR_Sum_woe,nombreOtorgante_1_INT_145_MOR_Sum_woe,nombreOtorgante_12_INT_060_MOR_Max_woe,tipoCuenta_3_INT_051_MOR_Sum_woe
0,0.100402,0.096935,0.077859,0.125213,0.071286,-0.264855,0.025372,0.041902,-0.048671,0.079616,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,-0.008425,0.479826
2,0.100402,0.096935,-0.159171,-0.121311,0.071286,0.182337,-0.441091,0.041902,-0.048671,0.079616,...,0.613992,0.600765,0.700226,0.700226,0.620184,0.635221,0.713402,0.564392,0.299712,0.064296
4,0.100402,0.096935,0.792034,-0.121311,0.071286,0.182337,0.025372,0.041902,0.545493,0.546076,...,0.014428,0.022545,0.030508,-0.466307,0.033042,0.024962,-0.033852,-0.038477,-0.321425,0.064296
5,0.100402,0.963128,-0.159171,-0.121311,-0.401468,0.182337,0.025372,0.041902,-0.048671,-0.243309,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,0.299712,0.479826
6,0.100402,0.096935,-0.159171,0.583279,0.071286,0.997478,0.025372,0.041902,-0.409436,0.546076,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,0.299712,0.479826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,0.100402,0.096935,0.423345,0.219538,0.071286,0.182337,-0.215437,0.041902,0.238759,0.138560,...,0.304470,0.302262,0.030508,0.338570,-0.343578,0.024962,-0.309011,-0.442061,-0.020947,0.064296
1473,0.100402,0.096935,-0.159171,0.058674,0.071286,0.182337,-0.315187,0.041902,-0.048671,0.079616,...,-0.395086,-0.494806,-0.674535,-0.340533,-0.535357,0.024962,-0.234742,-0.333129,-0.092907,-0.110629
1474,-0.312245,0.096935,0.354330,0.335996,0.071286,-0.059076,0.025372,0.041902,0.106075,0.294261,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.309011,-0.442061,-0.246477,0.064296
1475,0.100402,0.096935,-0.124567,-0.327621,-0.166227,-0.037016,0.504727,0.041902,-0.532913,0.231640,...,-0.570488,-0.687459,-0.896217,-0.503302,-0.737255,-0.764943,-0.371490,-0.482984,0.299712,-0.040702
1477,1.098340,0.096935,0.645936,0.512924,0.071286,0.182337,0.509544,0.041902,0.454234,0.474431,...,0.521903,0.511955,0.597363,0.592627,0.530003,0.541490,0.598629,0.471796,-0.056499,-0.035244

In [128]:
variables_del_modelo = list(df_train.iloc[:,3:-1].columns)

In [129]:
X_train = df_train.iloc[:,3:-1].values ## Checar que si sean tus variables
y_train = df_train['BGI'].values

In [132]:
#df_train.iloc[:,3:]
#df_1.head(1)
df_1.iloc[:,7:]

,END_002_Sum_woe,END_002_Max_woe,nombreOtorgante_1_END_001_Sum_woe,nombreOtorgante_1_END_002_Sum_woe,nombreOtorgante_1_END_002_Min_woe,nombreOtorgante_1_NUM_016_BUR_Mean_woe,SDO_002_BUR_Sum_woe,SDO_002_BUR_Max_woe,nombreOtorgante_1_SDO_002_BUR_Sum_woe,nombreOtorgante_1_SDO_004_BUR_Sum_woe,...,nombreOtorgante_1_INT_082_MOR_Sum_woe,nombreOtorgante_1_INT_083_MOR_Sum_woe,nombreOtorgante_1_INT_084_MOR_Sum_woe,nombreOtorgante_1_INT_087_MOR_Sum_woe,nombreOtorgante_1_INT_089_MOR_Sum_woe,nombreOtorgante_1_INT_090_MOR_Sum_woe,nombreOtorgante_1_INT_137_MOR_Sum_woe,nombreOtorgante_1_INT_145_MOR_Sum_woe,nombreOtorgante_12_INT_060_MOR_Max_woe,tipoCuenta_3_INT_051_MOR_Sum_woe
0,0.100402,0.096935,0.077859,0.125213,0.071286,-0.264855,0.025372,0.041902,-0.048671,0.079616,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,-0.008425,0.479826
1,0.100402,0.096935,-0.159171,0.125213,0.071286,0.182337,0.597404,0.041902,-0.048671,0.079616,...,0.613992,0.600765,0.700226,0.700226,0.620184,0.635221,0.713402,0.564392,-0.008425,-0.583789
2,0.100402,0.096935,-0.159171,-0.121311,0.071286,0.182337,-0.441091,0.041902,-0.048671,0.079616,...,0.613992,0.600765,0.700226,0.700226,0.620184,0.635221,0.713402,0.564392,0.299712,0.064296
3,1.279429,0.963128,-0.159171,-0.121311,0.071286,-0.264855,0.597404,1.053048,0.545493,-0.243309,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,0.299712,0.064296
4,0.100402,0.096935,0.792034,-0.121311,0.071286,0.182337,0.025372,0.041902,0.545493,0.546076,...,0.014428,0.022545,0.030508,-0.466307,0.033042,0.024962,-0.033852,-0.038477,-0.321425,0.064296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,0.100402,0.096935,-0.159171,0.125213,0.071286,-0.264855,0.597404,0.041902,-0.048671,0.079616,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,0.299712,-0.583789
964,0.100402,0.096935,-0.159171,0.125213,0.071286,0.182337,0.025372,0.041902,-0.048671,0.079616,...,0.014428,0.022545,0.030508,-0.466307,0.033042,0.024962,-0.309011,-0.442061,0.299712,0.064296
965,0.100402,0.096935,0.077859,-0.121311,0.071286,0.182337,0.597404,0.041902,0.545493,0.546076,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.309011,0.564392,0.299712,-0.583789
966,0.100402,0.096935,-0.159171,0.125213,0.071286,-0.264855,0.025372,0.041902,-0.048671,0.079616,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,-0.321425,-0.583789
967,1.279429,0.963128,0.077859,0.583279,0.071286,0.997478,0.597404,0.041902,0.545493,0.546076,...,0.014428,0.022545,0.030508,-0.000324,0.033042,0.024962,-0.033852,-0.038477,0.299712,0.064296

In [133]:
X = df_1.iloc[:,7:].values

In [134]:
df_1["Partición"] = np.where(df_1["is_train"]==True,"1_Entrenamiento","2_Comprobación")
df_1.drop(columns="is_train",inplace = True)

In [135]:
df["Partición"] = np.where(df["is_train"]==True,"1_Entrenamiento","2_Comprobación")
df.drop(columns="is_train",inplace = True)

In [ ]:
#df_1.head()
#df.head()
#print(df_1.shape)
#print(df.shape)

### SVM

In [151]:
from sklearn.svm import SVC

param_grid = {'C': [0.1,8], 'gamma': [0.12,0.001]}#,10,.1,
svm = GridSearchCV(SVC(probability=True, kernel = 'sigmoid'),param_grid,scoring='accuracy',cv = 10, n_jobs = -1)
svm.fit(X_train,y_train)

print(svm.best_score_)
print(svm.best_estimator_)

0.6679326099371788
SVC(C=0.1, gamma=0.12, kernel='sigmoid', probability=True)

In [152]:
predictions = svm.predict_proba(X) #### Solo se califica la base sin smote X
predictions = np.array([ predictions[i][0] for i in range(len(predictions))])
df_1['score1'] = np.around(predictions*1000, decimals = 0)
df_1['BGI_CONS'] = df_1['BGI']
output_path = 'BASE CALIFICADA_S2_SVM.csv'

#df_1.to_csv(output_path, index = False)

In [153]:
#df_tablas = pd.read_csv(output_path)
N = 5
t_train, t_test = tablas_de_entrenamiento_y_validacion(df_1, N, string_score = 'score1', string_bgi = 'BGI_CONS')

In [154]:
t_train

In [156]:
t_test

In [ ]:
tables_to_excel([t_train,t_test], ['Train','Test'], 'Tablas de validación SVM S2')

In [ ]:
joblib.dump(svm, 'SVM_S2.pkl')
 
# some time later...
 
# load the model from disk
loaded_model = joblib.load('SVM_S2.pkl')

### Regresión Logística

In [157]:
from sklearn.linear_model import LogisticRegression

param_grid = {'C': [0.1,1,15,20]}
logreg_cv = GridSearchCV(LogisticRegression(solver = 'liblinear',random_state = 12),param_grid,scoring='accuracy',cv = 10, n_jobs = -1)
logreg_cv.fit(X_train, y_train) #logreg_cv.fit(X_train, y_train)

GridSearchCV(cv=10,
             estimator=LogisticRegression(random_state=12, solver='liblinear'),
             n_jobs=-1, param_grid={'C': [0.1, 1, 15, 20]}, scoring='accuracy')

In [158]:
score = logreg_cv.score(df_1[df_1['Partición'] == '2_Comprobación'][variables_del_modelo], df_1[df_1['Partición'] == '2_Comprobación']['BGI'])
print('Test Accuracy Score', score)

Test Accuracy Score 0.6051282051282051

In [159]:
predictions = logreg_cv.predict_proba(X) #### Solo se califica la base sin smote
predictions = np.array([ predictions[i][0] for i in range(len(predictions))])
df_1['score1'] = np.around(predictions*1000, decimals = 0)
df_1['BGI_CONS'] = df_1['BGI']
output_path = 'C:/Users/JavierJhairtLópezRoj/OneDrive - Exitus Credit/Escritorio/SEP ACTIVOS 2/Tablas de validacion, bases calificadas, modelos aplicados/Bases calificadas/S1/BASE CALIFICADA_S1_RL.csv'

#df_1.to_csv(output_path, index = False)

In [160]:
#df_tablas = pd.read_csv(output_path)
t_train, t_test = tablas_de_entrenamiento_y_validacion(df_1, N, string_score = 'score1', string_bgi = 'BGI_CONS')

In [161]:
t_train

In [162]:
t_test

In [ ]:
tables_to_excel([t_train,t_test], ['Train','Test'], 'Tablas de validación RL S2')

In [ ]:
joblib.dump(logreg_cv, 'RL_S2.pkl')
 
# some time later...
 
# load the model from disk
loaded_model = joblib.load('RL_S2.pkl')

### MLP

In [229]:
from sklearn.neural_network import MLPClassifier
ann = MLPClassifier(alpha=1, hidden_layer_sizes=(2, 4,2), activation = 'identity',
              solver = 'adam', learning_rate = 'adaptive', learning_rate_init = 0.001,random_state=12)
ann.fit(X_train,y_train)

MLPClassifier(activation='identity', alpha=1, hidden_layer_sizes=(2, 4, 2),
              learning_rate='adaptive', random_state=12)

In [249]:
predictions = ann.predict_proba(X) #### Solo se califica la base sin smote
df_1['score1'] = np.around(predictions*1000, decimals = 0)
df_1['BGI_CONS'] = df_1['BGI']
output_path = 'BASE CALIFICADA_S1_MLP.csv'

df_1.to_csv(output_path, index = False)

In [231]:
#df_tablas = pd.read_csv(output_path)
t_train, t_test = tablas_de_entrenamiento_y_validacion(df_1, N, string_score = 'score1', string_bgi = 'BGI_CONS')

In [232]:
t_train

In [233]:
t_test

In [234]:
tables_to_excel([t_train,t_test], ['Train','Test'], 'Tablas de validación MLP S1')

In [238]:
joblib.dump(ann, 'MLP_S1.pkl')
 
# some time later...
 
# load the model from disk
loaded_model = joblib.load('MLP_S1.pkl')

### Red Nueronal Recurrente

In [210]:
#define the keras model
from keras.constraints import max_norm
model = Sequential([
    Dense(8, activation='relu',input_dim= X_train.shape[1]),
    #Dense(10, activation= 'relu', kernel_regularizer= L1(0.1)),
    #model.add(Dropout(0.3))
    #Dropout(0.7),
    #Dense(8, activation='relu', kernel_regularizer= L2(0.1)),
    #Dropout(0.1),
    Dense(190, activation='relu', kernel_regularizer= L2(0.1)),
    Dropout(0.6),
    #Dense(2, activation='relu'),
    #model.add(Dropout(0.3))
    Dense(10, activation='relu'),#, kernel_regularizer= L2()),
    #model.add(Dropout(0.3))
    Dense(2, activation='softmax')
]
)
 
# compile the keras model
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
 
# fit the keras model on the dataset
history = model.fit(X_train, y_train, epochs=22,
                    validation_data=(df_1[df_1['Partición'] == '2_Comprobación'][variables_del_modelo], df_1[df_1['Partición'] == '2_Comprobación']['BGI']),
                    verbose = 2)

Epoch 1/22
32/32 - 1s - loss: 1.9288 - accuracy: 0.6210 - val_loss: 1.6287 - val_accuracy: 0.4308
Epoch 2/22
32/32 - 0s - loss: 1.3519 - accuracy: 0.6445 - val_loss: 1.2397 - val_accuracy: 0.4333
Epoch 3/22
32/32 - 0s - loss: 1.0131 - accuracy: 0.6621 - val_loss: 1.0066 - val_accuracy: 0.4769
Epoch 4/22
32/32 - 0s - loss: 0.8229 - accuracy: 0.6631 - val_loss: 0.8717 - val_accuracy: 0.4949
Epoch 5/22
32/32 - 0s - loss: 0.7193 - accuracy: 0.6709 - val_loss: 0.7798 - val_accuracy: 0.5154
Epoch 6/22
32/32 - 0s - loss: 0.6676 - accuracy: 0.6885 - val_loss: 0.7664 - val_accuracy: 0.5077
Epoch 7/22
32/32 - 0s - loss: 0.6361 - accuracy: 0.6885 - val_loss: 0.7801 - val_accuracy: 0.4872
Epoch 8/22
32/32 - 0s - loss: 0.6298 - accuracy: 0.6836 - val_loss: 0.7385 - val_accuracy: 0.5333
Epoch 9/22
32/32 - 0s - loss: 0.6140 - accuracy: 0.6964 - val_loss: 0.7593 - val_accuracy: 0.5128
Epoch 10/22
32/32 - 0s - loss: 0.6104 - accuracy: 0.6964 - val_loss: 0.7178 - val_accuracy: 0.5436
Epoch 11/22
32/32 - 0s - loss: 0.5986 - accuracy: 0.7081 - val_loss: 0.7306 - val_accuracy: 0.5385
Epoch 12/22
32/32 - 0s - loss: 0.5990 - accuracy: 0.6944 - val_loss: 0.7357 - val_accuracy: 0.5385
Epoch 13/22
32/32 - 0s - loss: 0.5990 - accuracy: 0.7101 - val_loss: 0.7651 - val_accuracy: 0.5179
Epoch 14/22
32/32 - 0s - loss: 0.5886 - accuracy: 0.7179 - val_loss: 0.7347 - val_accuracy: 0.5692
Epoch 15/22
32/32 - 0s - loss: 0.5888 - accuracy: 0.7130 - val_loss: 0.6746 - val_accuracy: 0.6256
Epoch 16/22
32/32 - 0s - loss: 0.5837 - accuracy: 0.7209 - val_loss: 0.7251 - val_accuracy: 0.5846
Epoch 17/22
32/32 - 0s - loss: 0.5732 - accuracy: 0.7287 - val_loss: 0.6949 - val_accuracy: 0.6128
Epoch 18/22
32/32 - 0s - loss: 0.5740 - accuracy: 0.7365 - val_loss: 0.7308 - val_accuracy: 0.5949
Epoch 19/22
32/32 - 0s - loss: 0.5668 - accuracy: 0.7297 - val_loss: 0.6591 - val_accuracy: 0.6615
Epoch 20/22
32/32 - 0s - loss: 0.5671 - accuracy: 0.7375 - val_loss: 0.7303 - val_accuracy: 0.6026
Epoch 21/22
32/32 - 0s - loss: 0.5597 - accuracy: 0.7463 - val_loss: 0.6967 - val_accuracy: 0.6513
Epoch 22/22
32/32 - 0s - loss: 0.5639 - accuracy: 0.7395 - val_loss: 0.6836 - val_accuracy: 0.6615

In [239]:
output_model_path = 'RNR_M1_S1.h5'#onde #M es el numero del modelo.

#guardar la imagen de cada modelo
model.save(output_model_path)

In [240]:

#Para hacer predicciones sobre nuevos modelos
from keras.models import load_model

model = load_model(output_model_path)

In [241]:
predictions = model.predict(X)
df_1['score1'] = np.around(predictions[:,0]*1000, decimals = 0)
df_1['BGI_CONS'] = df_1['BGI']
df_1.head()

,idconsulta,vOpenned,iCredId,vAfiliado,vBanco,BGI,END_002_Sum_woe,END_002_Max_woe,nombreOtorgante_1_END_001_Sum_woe,nombreOtorgante_1_END_002_Sum_woe,...,nombreOtorgante_1_INT_089_MOR_Sum_woe,nombreOtorgante_1_INT_090_MOR_Sum_woe,nombreOtorgante_1_INT_137_MOR_Sum_woe,nombreOtorgante_1_INT_145_MOR_Sum_woe,nombreOtorgante_12_INT_060_MOR_Max_woe,tipoCuenta_3_INT_051_MOR_Sum_woe,Partición,score1,BGI_CONS,score1_TILN
0,275935,2018-10-19,305285,IMSS ACTIVOS,BBVA BANCOMER,0,0.100402,0.096935,0.077859,0.125213,...,0.033042,0.024962,-0.033852,-0.038477,-0.008425,0.479826,1_Entrenamiento,542.0,0,3
1,279475,2018-10-03,300961,IMSS ACTIVOS,BANORTE,0,0.100402,0.096935,-0.159171,0.125213,...,0.620184,0.635221,0.713402,0.564392,-0.008425,-0.583789,2_Comprobación,700.0,0,3
2,282291,2018-08-01,278891,IMSS ACTIVOS,SANTANDER,1,0.100402,0.096935,-0.159171,-0.121311,...,0.620184,0.635221,0.713402,0.564392,0.299712,0.064296,1_Entrenamiento,739.0,1,5
3,282458,2018-08-02,279628,IMSS ACTIVOS,BBVA BANCOMER,0,1.279429,0.963128,-0.159171,-0.121311,...,0.033042,0.024962,-0.033852,-0.038477,0.299712,0.064296,2_Comprobación,780.0,0,5
4,282494,2018-09-24,296047,IMSS ACTIVOS,HSBC,0,0.100402,0.096935,0.792034,-0.121311,...,0.033042,0.024962,-0.033852,-0.038477,-0.321425,0.064296,1_Entrenamiento,792.0,0,4

In [242]:
df = df_1

### Tabla de Validación

##### ENTRENAMIENTO

In [243]:
output_path = 'BASE CALIFICADA_S1_RNR_M4.csv'

In [244]:
df_1.to_csv(output_path)

In [245]:
#df_tablas = pd.read_csv(output_path)
N = 5
t_train, t_test = tablas_de_entrenamiento_y_validacion(df,N, string_score = 'score1', string_bgi = 'BGI')

In [246]:
t_train

In [247]:
t_test

In [248]:
tables_to_excel([t_train,t_test],['Train','Test'],'Tablas de validación RNR S1')